<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2><%= @problem.title %></h2>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <%= raw $markdown.render(@problem.description) %>
  </div>
</div>