<div class="col-md-8 col-md-offset-2">
<%= bootstrap_form_for @test_file do |f| %>
  <h2 class="form-heading">添加数据</h2>
  <%= f.text_field :problem_id, autofocus: true, label: '题目编号' %>
  <%= f.file_field :data, label: '数据文件' %>
  <%= f.submit '提交', class: 'btn btn-lg btn-primary btn-block' %>
<% end %>
</div>